body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:lightgray;
  
}
.heading{
  text-align: center;
  padding-top: 20px;
 
}
.container{
  width:600px;
  height:auto;
  background: linear-gradient(to right, #FF512F, #DD2476);
  margin-left: auto;
  margin-right: auto;
  

}
ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 1rem;

}
li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
}
img{
  width:5rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 20px 0px;
}
form{
  margin:1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.formlabel{
  display: flex;
  flex-direction: column;
}
input{
  padding: 0.5rem;
}
button{
  padding: 0.6rem;
  font-size: 19px;
  background-color:cornflowerblue;
  color: white;
  cursor:pointer; 
  border: 3px grey solid;
  border-radius: 6px;
  margin-bottom: 20px;

}